html,body
{
    width: 100%;
    height: 100%;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

a
{
    color: yellowgreen;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
a:hover,a:focus
{
    color: forestgreen;
}

p
{
    font-size: 16px;
    line-height: 1.5;
}

header
{
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url('../images/header.jpg');
    background-position: center;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    background-size:cover;
    -o-background-size: cover;
}
header .header-content
{
    position: relative;
    width: 100%;
    padding: 100px 15px 70px;
    text-align: center;
}

    header .header-content .header-content-inner
    {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

header .header-content .header-content-inner h1
{
    margin-top:0px;
    margin-bottom: 20px;
    font-size: 25px;
    font-family: 'Charmonman', cursive;
    font-weight: 300;
}


@media(min-width:850px)
{
    header
    {
        min-height: 100%;
    }
    header .header-content
    {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    header .header-content .header-content-inner
    {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

	header .header-content .header-content-inner h1
    {
    	margin-top:70px;
    margin-bottom: 0px;
        font-size: 45px;
    }

}

.gautam-image{
    border-radius: 100%;
    float:left;
    max-height: 100%;
}


@media screen and (max-width: 850px)
{
    .gautam-image{
    border-radius: 100%;
    float:left;
    height: 250px;
    }

}

.section-heading
{
    margin-top: 0;
    margin-bottom: 20px;
}

.intro
{
	color: #fff;
    background-color: yellowgreen;
    padding: 70px 0;
    text-align: center;
}

.content
{
    padding: 100px 0;
}

.content-2
{
	color: #fff;
    background-color: #222;
}

.content-3
{
	padding: 20px 0 40px;
	text-align: center;
}

.content-4
{
	padding: 20px 0 40px;
	text-align: center;
}

.promo,.promo h3,.promo a:link,.promo a:visited,.promo a:hover,.promo a:active
{
    color: white;
	text-shadow: 0px 0px 40px black;
    text-decoration: none;
}

.promo-item
{
    height: 200px;
    line-height: 180px;
    text-align: center;
}

.promo-item:hover
{
    background-size: 110%;
    border: 10px solid rgba(255,255,255,0.3);
    line-height: 160px;
}

.promo-item h3
{
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
}

.item-7
{
	background: url('../images/writing.jpg');

}

.item-6
{
	background: url('../images/concert.jpg');
}

.item-8
{
	background: url('../images/AI.jpg');
}

.item-1
{
	background: url('../images/projectx.png');
}

.item-2
{
	background: url('../images/blind.jpg');
}

.item-3
{
	background: url('../images/bot.jpg');
}

.item-4
{
	background: url('../images/dotData.png');
}

.item-5
{
	background: url('../images/bcc.jpeg');
}

.item-9
{
	background: url('../images/urs.svg');
}

.item-1,.item-2,.item-3, .item-4, .item-5, .item-6, .item-7, .item-8, .item-9
{
	background-size: cover;
	background-position: 50% 50%;
}

.page-footer
{
	text-align: center;
}

 .page-footer .contact
{
	padding: 75px 0;
	background-color: yellowgreen;
	color: #fff;
}

.page-footer .contact p
{
	font-size: 22px;
	font-weight: 300;
}

.content-3 .glyphicon,	.page-footer .contact .glyphicon
{
	font-size: 32px;
	font-weight: 700;
}

.page-footer .small-print
{
	padding: 50px 0 40px;
	font-weight: 300;
}

.text-light
{
    color: rgba(255,255,255,.7);
}

.navbar-default
{
    border-color: rgba(34,34,34,.05);
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand
{
    color: yellowgreen;
    font-family: 'Charmonman', cursive;

}

.navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus
{
    color: #eb3812;
}

.navbar-default .nav > li>a,  .navbar-default .nav>li>a:focus
{
    color: #222;
}

.navbar-default .nav > li>a:hover,  .navbar-default .nav>li>a:focus:hover
{
    color: yellowgreen;
}

.navbar-default .nav > li.active>a,  .navbar-default .nav>li.active>a:focus
{
    color: yellowgreen!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,  .navbar-default .nav>li.active>a:focus:hover
{
    background-color: transparent;
}

@media(min-width:768px)
{
    .navbar-default
    {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand
    {
        color: rgba(255,255,255,.7);
        letter-spacing: 0.5em;
    }

    .navbar-default .navbar-header .navbar-brand:hover,.navbar-default .navbar-header .navbar-brand:focus
    {
        color: #fff;
    }

    .navbar-default .nav > li>a,.navbar-default .nav>li>a:focus
    {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,.navbar-default .nav>li>a:focus:hover
    {
        color: #fff;
    }

    .navbar-default.affix
    {
        border-color: #fff;
        background-color: #fff;
        box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.1);
    }

    .navbar-default.affix .navbar-header .navbar-brand
    {
        letter-spacing: 0;
        color: yellowgreen;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,.navbar-default.affix .navbar-header .navbar-brand:focus
    {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,.navbar-default.affix .nav>li>a:focus
    {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,.navbar-default.affix .nav>li>a:focus:hover
    {
        color: yellowgreen;
    }
}


.btn-default
{
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,.btn-default:focus,.btn-default.focus,.btn-default:active,.btn-default.active,
.open > .dropdown-toggle.btn-default
{
    border-color: #eee;
    color: #222;
    background-color: #eee;
}

.btn-default:active,.btn-default.active,.open > .dropdown-toggle.btn-default
{
    background-image: none;
}

.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,
.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,.btn-default.disabled.focus,.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,.btn-default.disabled:active,.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,
fieldset[disabled] .btn-default.active
{
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge
{
    color: #fff;
    background-color: #222;
}

.btn-primary
{
    border-color: yellowgreen;
    color: #fff;
    background-color: yellowgreen;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary.focus,.btn-primary:active,.btn-primary.active,
.open > .dropdown-toggle.btn-primary
{
    border-color: limegreen;
    color: #fff;
    background-color: limegreen;
}

.btn-primary:active,.btn-primary.active,.open > .dropdown-toggle.btn-primary
{
    background-image: none;
}

.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,.btn-primary.disabled.focus,.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active
{
    border-color: yellowgreen;
    background-color: yellowgreen;
}

.btn-primary .badge
{
    color: yellowgreen;
    background-color: #fff;
}


.btn
{
    border-radius: 300px;
    text-transform: uppercase;
}

.btn-lg
{
    padding: 15px 30px;
}

::-moz-selection
{
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection
{
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection
{
    color: #fff;
    background: 0 0;
}

img::-moz-selection
{
    color: #fff;
    background: 0 0;
}

.text-primary
{
    color: yellowgreen;
}

.bg-primary
{
    background-color: yellowgreen;
}





.row-grid
{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    max-width:100%;
}

/* Create four equal columns that sits next to each other */
.column-grid {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column-grid img {
    margin-top: 8px;
    vertical-align: middle;
    width:100%;
    opacity:0.95;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column-grid {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
{
    .column-grid
    {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}


div.gallery
{
     margin: 8px;
     border: 1px solid #ccc;
     float: left;
     width: 350px;
     height: 250px;
}
div.gallery:hover
{
     border: 1px solid #777;
}
div.gallery video,div.gallery img
{
     width: 350px;
     height: 215px;
}
div.desc
{
     padding: 2px;
     text-align: center;
     font-size: 18px;
    color: aliceblue;
}

@media screen and (max-width: 1250px) {

    div.gallery
{
     margin: 8px;
     border: 1px solid #ccc;
     float: left;
     width: 250px;
     height: 215px;
}

    div.gallery video,div.gallery img
{
     width: 250px;
     height: 175px;
}

    div.desc
{
     padding: 1.5px;
     text-align: center;
     font-size: 16px;
    color: aliceblue;
}


}

@media screen and (max-width: 950px) {

    div.gallery
{
     margin: 8px;
     border: 1px solid #ccc;
     float: left;
     width: 200px;
     height: 215px;
}

    div.gallery video,div.gallery img
{
     width: 200px;
     height: 175px;
}

    div.desc
{
     padding: 1px;
     text-align: center;
     font-size: 14px;
    color: aliceblue;
}


}


@media screen and (max-width: 700px) {

    div.gallery
{
     margin: 8px;
     border: 1px solid #ccc;
     float: left;
     width: 150px;
     height: 200px;
}

    div.gallery video,div.gallery img
{
     width: 150px;
     height: 150px;
}

    div.desc
{
     padding: 1px;
     text-align: center;
     font-size: 12px;
    color: aliceblue;
}


}

@media screen and (max-width: 550px) {

    div.gallery
{
     margin: 8px;
     border: 1px solid #ccc;
     float: left;
     width: 100px;
     height: 175px;
}

    div.gallery video,div.gallery img
{
     width: 100px;
     height: 125px;
}

    div.desc
{
     padding: 1px;
     text-align: center;
     font-size: 12px;
    color: aliceblue;
}


}

@media screen and (max-width: 400px) {

    div.gallery
{
     margin: 8px;
     border: 1px solid #ccc;
     float: left;
     width: 75px;
     height: 150px;
}

    div.gallery video,div.gallery img
{
     width: 75px;
     height: 100px;
}

    div.desc
{
     padding: 1px;
     text-align: center;
     font-size: 12px;
    color: aliceblue;
}

}


div.quotes
{
     text-align: center;
     margin: 10px;
     border: 1px solid #ccc;
     float: left;
     width: 350px;
     height: 300px;
     font-size: 50px;
     color:black;
}
div.quotes:hover
{
     border: 1px solid #777;
}




.modal-idea
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Add Animation */
@-webkit-keyframes animatetop
{
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
@keyframes animatetop
{
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
/* The Close Button */
.close-idea
{
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close-idea:hover,.close-idea:focus
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* Modal Content For Ideas*/
.modal-content-idea
{
    background-color: bisque;
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.modal-header-idea
{
    padding: 2px 16px;
    background-color: darkturquoise;
    color: white;
}
.modal-body-idea
{
    padding: 2px 16px;
}
.modal-footer-idea
{
    padding: 2px 16px;
    background-color: aqua;
    color: white;
}




/*Light Box*/
.row-lightbox > .column-lightbox
{
  padding: 0 8px;
}

.row-lightbox:after
{
  content: "";
  display: table;
  clear: both;
}

.column-lightbox
{
  float: left;
  width: 33%;
}

.modal-lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content-lightbox
{
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close-lightbox
{
  color: white;
  position: absolute;
  top: 50px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close-lightbox:hover,.close-lightbox:focus
{
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides, .mySlides2, .mySlied3
{
  display: none;
  background-size: 100%
}

.cursor
{
  cursor: pointer;
}

/* Next & previous buttons */
.prev,.next
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next
{
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,.next:hover
{
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext
{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.caption-container
{
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo, .demo2, .demo3
{
  opacity: 0.6;
}

.active,.demo:hover, .demo2:hover, .demo3:hover
{
  opacity: 1;
}

.music-icon, .writing-icon
{
    color:chartreuse;
}
.music-icon:hover, .writing-icon
{
    text-shadow: 5px black;
    color: aqua
}

.skill-icon
{
  width: 32px;
  height: 32px;
}
