html,body
{
    width: 100%;
    height: 100%;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

a
{
    color: yellowgreen;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
a:hover,a:focus
{
    color: forestgreen;
}

p
{
    font-size: 16px;
    line-height: 1.5;
}


.content
{
    padding: 100px 0;
}

.content-2
{
	color: #fff;
    background-color: #222;
}

.content-3
{
	padding: 20px 0 40px;
	text-align: center;
}

.content-4
{
	padding: 20px 0 40px;
	text-align: center;
}

.promo,.promo h3,.promo a:link,.promo a:visited,.promo a:hover,.promo a:active
{
    color: white;
	text-shadow: 0px 0px 40px black;
    text-decoration: none;
}

.promo-item
{
    height: 200px;
    line-height: 180px;
    text-align: center;
}

.promo-item:hover
{
    background-size: 110%;
    border: 10px solid rgba(255,255,255,0.3);
    line-height: 160px;
}

.promo-item h3
{
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
}

.item-7
{
	background: url('../images/writing.jpg');

}

.item-6
{
	background: url('../images/concert.jpg');
}

.item-8
{
	background: url('../images/map.jpg');
}

.item-1
{
	background: url('../images/projectx.png');
}

.item-2
{
	background: url('../images/blind.jpg');
}

.item-3
{
	background: url('../images/bot.jpg');
}

.item-4
{
	background: url('../images/dotData.png');
}

.item-5
{
	background: url('../images/bcc.jpeg');
}

.item-9
{
	background: url('../images/urs.svg');
}

.item-10
{
	background: url('../images/city_of_madison.png');
}

.item-11
{
	background: url('../images/skunkworks2.png');
}

.item-12
{
	background: url('../images/cybersecurity.jpg');
}

.item-13
{
	background: url('../images/google.png');
}

.item-14
{
	background: url('../images/warnermedia.jpg');
}

.item-15
{
	background: url('../images/uw_logo.png');
}

.item-1,.item-2,.item-3, .item-4, .item-5, .item-6, .item-7, .item-8, .item-9, .item-10, .item-12, .item-13, .item-14, .item-15
{
	background-size: cover;
	background-position: 50% 50%;
}

.item-11
{
	background-size: cover;
	background-position: 50% 50%;    
}

.content-3 .glyphicon
{
	font-size: 32px;
	font-weight: 700;
}

.text-light
{
    color: rgba(255,255,255,.7);
}

::-moz-selection
{
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection
{
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection
{
    color: #fff;
    background: 0 0;
}

img::-moz-selection
{
    color: #fff;
    background: 0 0;
}

.text-primary
{
    color: yellowgreen;
}

.bg-primary
{
    background-color: yellowgreen;
}

/* Add Animation */
@-webkit-keyframes animatetop
{
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
@keyframes animatetop
{
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}



.music-icon, .writing-icon
{
    color:chartreuse;
}
.music-icon:hover, .writing-icon
{
    text-shadow: 5px black;
    color: aqua
}

.skill-icon
{
  width: 32px;
  height: 32px;
}

* {
  box-sizing: border-box;
}

